
.row
  .large-12.columns
    %fieldset
      %legend
        %small Сортировка
      .large-2.columns
        %a.small.tiny.sort_button(ng-click="predicate = 'price'; reverse=!reverse"){href: ""} Цена
      .large-2.columns
        %a.small.tiny.sort_button(ng-click="predicate = 'area'; reverse=!reverse"){href: ""} Площадь
      .large-2.columns
        %select(ng-model="pageSize" ng-change="change()" ng-options="c for c in [10,20,30,40,50]")

      %a.button(ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" ng-href="&page={{currentPage}}" )
        Previous
      %button(ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1" ng-href="&page={{currentPage}}")
        Next




  .large-12.columns
    %ul.large-block-grid-3
      %li(ng-repeat="advert in adverts | orderBy:predicate:reverse " ng-cloak )
        %div{:style => "border: solid 1px #dddddd; background: #ffffff; padding: 5px;"}
          %table{:style=>"width: 100%; border: 0;"}
            %tbody
              %tr
                %td{:style=>"width: 70%; height: 42px;"}
                  %a{href: '/adverts/{{advert.slug}}'}
                    %span(ng-bind="advert.title")
                %td
                  %a{href: '/adverts?utf8=%E2%9C%93&operation_type=&category={{advert.operation_type_id}}'}
                    %img{:height => "32", :src => "/assets/prodaga.jpg", :width => "32"}


              %tr
                %td
                  %a{href: '/adverts?utf8=%E2%9C%93&operation_type={{advert.category_id}}'}
                    %span(ng-bind="advert.category" )
                %td
                  %a{href: '/adverts/{{advert.slug}}'}
                    id:
                    %span(ng-bind="advert.id")
              %tr
                %td
                  Цена:
                %td
                  %span(ng-bind="advert.price"  )
              %tr
                %td
                  Площадь:
                %td
                  %span(ng-bind="advert.area" )
                  м
                  %sup
                    2

          %a{href: '/adverts/{{advert.slug}}'}
            %img.th.radius(ng-src="{{advert.image}}" ){:style=>"width: 100%;"}

