//%p{"ng-show" => "show"} I could be shown, or I could be hidden
.row
  .large-12.columns
    %fieldset
      %legend
        %small Сортировка
      .large-2.columns
        %a.small.tiny.sort_button(ng-click="predicate = 'price'; reverse=!reverse"){href: ""} Цена
      .large-2.columns
        %a.small.tiny.sort_button(ng-click="predicate = 'area'; reverse=!reverse"){href: ""} Площадь
      .large-2.columns
        %select(ng-model="pageSize" ng-change="change()" ng-options="c for c in [10,20,30,40,50]")

      %a.button(ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" ng-href="&page={{currentPage}}" )
        Previous
      %button(ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1" ng-href="&page={{currentPage}}")
        Next
      %p
  .large-12.columns
    %ul.large-block-grid-3
      %li(ng-repeat="advert in adverts | orderBy:predicate:reverse " ng-cloak )
        .index_block
          %a{href: '/adverts/{{advert.slug}}'}
            %img.th.index_img(ng-src="{{advert.image}}" )



          %table.index_table
            %tbody
              %tr{:style=>"height: 10px"}
                %td
                %td
              %tr
                %td
                  %a{"ng-href" => "/adverts?category=&city_id=&gender=all&max_area=&max_price=&min_area=&min_price=&operation_type={{advert.operation_type_id}}&region_id="}
                    %span(ng-bind="advert.operation")
                %td
                  %a{"ng-href" => "/adverts?category={{advert.category_id}}&city_id=&gender=all&max_area=&max_price=&min_area=&min_price=&operation_type=&region_id="}
                    %span(ng-bind="advert.category" )
              %tr
                %td
                  Цена:
                %td
                  %span(ng-bind="advert.price"  )
              %tr
                %td
                  Площадь:
                %td
                  %span(ng-bind="advert.area" )
                    м
                    %sup
                      2



