.row
  .large-12.columns.show_info
    %ul.small-block-grid-2.large-block-grid-4
      %li Цена
      %li
        {{advert.all_price}}
      %li Площадь
      %li
        {{advert.area}}
      %li Регион
      %li
        {{advert.region}}
      %li Город
      %li
        {{advert.city}}
      %li Район
      %li
        {{advert.district}}
      %li Улица
      %li
        {{advert.street}}
      %li Дом
      %li
        {{advert.house}}
      %li Этаж
      %li
        {{advert.floor}}
      %li Количество комнат
      %li
        {{advert.rooms}}
      %li Категория
      %li
        {{advert.category}}
%p
  {{advert.description}}