.row(ng-init="params = {hScrollbar : true, snap: 'li' }" style="overflow:hidden;"   )
  .large-12.columns.show_image
    %img.th.radius(ng-src="{{currentImage}}"  )

    .row
      .large-12.columns{"ng-if" => "show(advert.advert_images)" }
        %p
          %ul.large-block-grid-4.small-block-grid-2(id="mycontainer" style="overflow:hidden;"  scrollable parameters="{{ {hScroll: 'true',  hScrollbar: 'true', snap: 'li'} }}" curr-page-x="currPageX" curr-page-y="currPageY" curr-x="currX"
                                                    curr-y="currY" is-min-y="isMinY" is-max-y="isMaxY")

            %li.listitem

              %img.th.radius(ng-src="{{advert.image}}"
              ng-click="setCurrentImageMain(advert)" )

            %li.listitem(ng-repeat="image in advert.advert_images | filter:query" ng-animate="{enter:'animated flipOutY', leave:'animated bounceInDown'}" )


              %img.th.radius(ng-src="{{image.advert_image.image.image.small.url}}"
              ng-click="setCurrentImage(image)" )
  %div.large-12.columns
    .section-container.auto{"data-section" => ""}
      %section
        %p.title{"data-section-title" => ""}
          %a{:href => "/adverts/{{advert.slug}}#desc" } Описание
        .content{"data-section-content" => ""}
          .row
            .large-12.columns(ui-view="desc")


      %section
        %p.title{"data-section-title" => "" }
          %a{:href => "/adverts/{{advert.slug}}#plan"} Планировка
        .content{"data-section-content" => ""}
          .row
            .large-12.columns(ui-view="plan")


      %section
        %p.title{"data-section-title" => ""}
          %a{:href => "/adverts/{{advert.slug}}#video"} Видео
        .content{"data-section-content" => ""}
          .row
            .large-12.columns(ui-view="video")



      %section
        %p.title{"data-section-title" => ""}
          %a{:href => "/adverts/{{advert.slug}}#map"} Карта
        .content{"data-section-content" => ""}
          .row
            .large-12.columns(ui-view="map")


