// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
//@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";


// my mixins
//http://alwaystwisted.com/post.php?s=2013-04-01-my-media-query-mixin


#mycontainer {
/*  $per-row: false;
  $spacing: $block-grid-default-spacing;
  $base-style: true;
  @include block-grid($per-row, $spacing, $base-style);*/
  //height: emCalc(100px);
  //width:100%;

}



html,
body { font-size: $base-font-size; }

/* Default body styles */
body {
  background: $body-bg;
  color: $body-font-color;
  padding: 0;
  margin: 0;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-style: $body-font-style;
  line-height: 1;
  position: relative;
  cursor: $cursor-default-value;
}



ul.small-block-grid, ul.large-block-grid-4 li {
  border-bottom: 1px ;
  border-color: #888888;
  border-bottom-style: dotted;
}


//$smallest-screen: emCalc(360px);
$small-screen: emCalc(768px);
$medium-screen: emCalc(1280px);
$large-screen: emCalc(1440px);

/*
$small-screen: 768px;
$medium-screen: 1280px;
$large-screen: 1440px;
*/


$screen: "only screen";
//$smallest: "only screen and (min-width:"#{$smallest-screen}")";
$small: "only screen and (min-width:"#{$small-screen}")";
$medium: "only screen and (min-width:"#{$medium-screen}")";
$large: "only screen and (min-width:"#{$large-screen}")";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";



/*
@media only screen
and (min-device-width : 360px){
  body, p,table,ul,ol,dl,label {
    font-size:0.85em;
  }
}
//iPhone 5 in portrait & landscape
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  body, p,table,ul,ol,dl,label {
    font-size:0.85em;
  }

}

//iPhone 5 in landscape
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
  body, p,table,ul,ol,dl,label {
    font-size:0.85em;
  }


}



@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  body, p,table,ul,li,label {
    font-size:0.96em;
    //font-size:font-size(5);
  }

}
*/

/*
.example {
  @include mq(768, true) {
    width: 100%;
  }
}
*/


.small-block {
  @extend .hide-for-large;
  //@extend .hide-for-medium;

}

.large-block {

  @extend .hide-for-small;
}

.dorohouse_button {
  $bg : #3FC01C;
  $radius: true;
  $padding: $button-med;
  $full-width: false;
  $disabled: false;
  $is-input: false;
  @include button;
  //@include button-size($padding, $full-width, $is-input);
  @include button($padding, $bg, $radius, $full-width, $disabled, $is-input);
}

.dorohouse_a {
  @extend a;
  color: #3FC01C;
}




/*input{
  //@extend input;
  display: none;
}*/

.sort_button {
  $padding: $button-tny;
  $full-width: false;
  $is-input: false;
  $bg: #3FC01C;
  $radius: false;
  $disabled: false;
  @include button-base;
  @include button-size($padding, $full-width, $is-input);
  //@include button-style($bg, $radius, $disabled);
}



.line {
  border-bottom: 1px solid #cccccc; margin: 10px 0 10px 0;
}

.link_add{
  padding: 20px;
}
.pdf_show {
  display: none;
}

@media print {



  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }

  #line_items {
    page-break-before: always;
  }

  .main_show {
    display: none;
  }
  .pdf_show {
    display: block;
  }


}



