%fieldset
  %legend
    Поиск недвижимости по ID
  = form_tag adverts_path, :method => 'get' do
    .row
      .small-2.large-9.columns= text_field_tag :search, params[:search], :placeholder => "Поиск недвижимости по ID"
      .small-2.large-3.columns= submit_tag "Search", :id=> nil

