%row
  %table{:style=>"width: 100%"}
    %thead
      %th{:style=>"width: 80%"}
      %th{:style=>"width: 20%"}
    %tbody
      %tr
        %td
          =link_to  "Квартиры", "#"
        %td
          =advert_for_flats_count
      %tr
        %td
          =link_to  "Офисы", "#"
        %td
          =advert_for_flats_count
      %tr
        %td
          =link_to  "Гаражи", "#"
        %td
          =advert_for_flats_count


