%row
  %table{:style=>"width: 100%"}
    %thead
      %th{:style=>"width: 80%"}
      %th{:style=>"width: 20%"}
    %tbody
      %tr
        %td
          =link_to  "Квартиры", "/adverts?utf8=✓&operation_type=&category=1", :class => "dorohouse_a"
        %td
          =advert_for_flats_count
      %tr
        %td
          =link_to  "Дома", "/adverts?utf8=✓&operation_type=&category=23" , :class => "dorohouse_a"
        %td
          =advert_for_houses_count
      %tr
        %td
          =link_to  "Офисы", "/adverts?utf8=✓&operation_type=&category=3", :class => "dorohouse_a"
        %td
          =advert_for_ofice_count


