%body(ng-controller="IndexController" ng-cloak)
.row
  .large-12.columns
    %fieldset
      %legend
        %small Сортировка
      .large-2.columns
        %a.small.tiny.sort_button(ng-click="predicate = 'price'; reverse=!reverse"){href: ""} Цена
      .large-2.columns
        %a.small.tiny.sort_button(ng-click="predicate = 'area'; reverse=!reverse"){href: ""} Площадь
      .large-8.columns.pagination-centered

      = will_paginate @adverts
      = @adverts.size

      .large-12.columns


  .large-12.columns
    %ul.large-block-grid-3
      %li(ng-repeat="advert in adverts | orderBy:predicate:reverse" ng-cloak )
        %a{href: '/adverts/{{advert.id}}'}
          %span(ng-bind="advert.id")
        %table{:style=>"width: 100%;margin-top:5px;"}
          %tbody
            %tr
              %td
                %span(ng-bind="advert.operation" )
                \ :
              %td
                %span(ng-bind="advert.category" )
            %tr
              %td
                Цена:
              %td
                %span(ng-bind="advert.price"  )
            %tr
              %td
                Площадь:
              %td
                %span(ng-bind="advert.area" )
                m2
            %tr
              %td
                latitude:
              %td
                %span(ng-bind="advert.latitude" )
            %tr
              %td
                longitude:
              %td
                %span(ng-bind="advert.longitude" )
