%body(ng-controller="IndexController")
.row
  .large-12.columns
    %fieldset
      %legend
        %small Сортировка
      .large-2.columns
        %a.small.tiny.sort_button(ng-click="predicate = 'price'; reverse=!reverse"){href: ""} Цена
      .large-2.columns
        %a.small.tiny.sort_button(ng-click="predicate = 'area'; reverse=!reverse"){href: ""} Площадь
      .large-8.columns.pagination-centered

      = will_paginate @adverts, :class =>'digg_pagination'
  .large-12.columns.hide-for-medium
    %ul.large-block-grid-4
      %li(ng-repeat="advert in adverts | orderBy:predicate:reverse" )
        %p
          %a{href: '/adverts/{{advert.id}}'}
            %img.th.radius(ng-src="{{advert.image.image.medium.url}}")
          %table{:style=>"width: 100%"}
            %tbody
              %tr
                %td
                  {{advert.operation_type.title}}:
                %td
                  {{advert.category.title}}
              %tr
                %td
                  Цена:
                %td
                  {{advert.price | currency}}
              %tr
                %td
                  Площадь:
                %td
                  {{advert.area}}

  .large-12.columns.hide-for-large
    %ul.large-block-grid-3
      %li(ng-repeat="advert in adverts | orderBy:predicate:reverse" )
        %p
          %a{href: '/adverts/{{advert.id}}'}
            %img.th.radius(ng-src="{{advert.image.image.medium.url}}")
          %table{:style=>"width: 100%"}
            %tbody
              %tr
                %td
                  {{advert.operation_type.title}}:
                %td
                  {{advert.category.title}}
              %tr
                %td
                  Цена:
                %td
                  {{advert.price | currency}}
              %tr
                %td
                  Площадь:
                %td
                  {{advert.area}}

