%body(ng-controller="MapController")
  .row
    .large-12.columns
      %div.google-map{:center => "center", :draggable => "true",
      :events => "events",:zoom => "zoom"}
        %marker(ng-repeat="m in markers" coords="m" icon="m.icon" click="m.set()" )
          %window(show="m.templatedInfoWindow.show" click="m.set()" coords="m.templatedInfoWindow.coords" templateUrl="m.templatedInfoWindow.templateUrl" templateParameter="m.templatedInfoWindow.templateParameter")


