%h4 Добавление обьявления
Заполните пожалуйста все поля для того, чтобы разместить объект на сайте. Рекомендуем Вам сделать подробное описание объекта: чем подробней Вы заполните обьявление, тем гарантированнее увидит его Ваш потенциальный клиент.
= render 'form'
= link_to 'Back', adverts_path
