/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p &copy; Copyright .
      .large-6.columns

/ End Footer
/ Map Modal
#mapModal.reveal-modal
  %h4 Where We Are
  %p
    %img{:src => "http://placehold.it/800x600"}/
  / Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden.
  %a.close-reveal-modal{:href => "#"} &times;
